dist: trusty
group: edge
language: php

addons:
  chrome: stable

php:
  - 7.1
  - 5.6

branches:
  only:
    - 8.x-1.x

before_install:
  - nvm install 6.11.0
  - nvm use 6.11.0
  # Repo for Yarn
  - sudo apt-key adv --keyserver pgp.mit.edu --recv D101F7899D41F3C3
  - echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq yarn
  - mkdir $HOME/contentacms

install:
  - composer run-script install-contenta $HOME/contentacms --timeout=0

before_script:
  - export DISPLAY=:99.0
  # Prevent chrome deadlock when running Nightwatch tests.
  # See https://stackoverflow.com/questions/41487659/nightwatch-selenium-socket-hang-up
  - export DBUS_SESSION_BUS_ADDRESS=/dev/null
  - sh -e /etc/init.d/xvfb start
  - sleep 3 # give xvfb some time to start
  - composer run-script start-contenta $HOME/contentacms --timeout=0

script:
  - yarn run nightwatch

after_script:
  - killall php
