<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    convertErrorsToExceptions="true"
    colors="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    stopOnFailure="true"
>
    <php>
        <ini name="memory_limit" value="-1" />
        <env name="WEB_HOST" value="127.0.0.1" />
        <env name="WEB_HOST" value="8888" />

    </php>
    <testsuites>
        <testsuite name="ContentaFunctional">
            <directory suffix="Test.php">tests/src/Functional/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>tests/src/</directory>
        </whitelist>
    </filter>
</phpunit>
