{#
/**
 * @file
 * Default theme implementation to list node types available for adding content.
 *
 * This list is displayed on the Add content admin page.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_node_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
  <div class="collection with-header">
    <div class="collection-item row"><h4 class="collection-item-title col s12">Add New Content</h4></div>
    {% for type_id,type in types %}
      <a class="collection-item row" href="{{ path('node.add', {'node_type': type_id }) }}">
       <span class="collection-item-title col s12" >{{type.label}}</span> <span class="collection-item-description col s12">{{ type.description }}</a></span>
    {% endfor %}
</div>
{% else %}
  <p>
    {% set create_content = path('node.type_add') %}
    {% trans %}
      You have not created any content types yet. Go to the <a href="{{ create_content }}" class="btn">content type creation page</a> to add a new content type.
    {% endtrans %}
  </p>
{% endif %}