.toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta:before,
.toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta:before {
  background-image: url("../img/contenta-logo.svg");
}

.no-svg .toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta:before,
.no-svg .toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta:before {
  background-image: url("../img/contenta-logo.png");
}
.toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta:active:before,
.toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta.is-active:before {
  background-image: url("../img/contenta-logo-dark.svg");
}

.no-svg .toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta:active:before,
.no-svg .toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta.is-active:before {
  background-image: url("../img/contenta-logo-dark.png");
}
.toolbar nav.toolbar-bar {
  background-color: #212D35;
}

body.material_admin .card-content > .fa {
  color: #03A9F4;
  font-size: 2rem;
}

body.material_admin .fa.left {
  float: left;
  margin-right: 15px;
}

body.material_admin .card .card-content .section h5 {
  font-size: 1rem;
  text-transform: uppercase;
}

body.material_admin .layout-container > main {
  background-color: #FAFAFA;
}

body.material_admin details.form-wrapper .details-wrapper {
  background-color: #FFFFFF;
}

body.material_admin .card .card-image img {
  height: auto;
}
