/* @file
 * Form specific styling
 *
 */

@media #{$medium-and-up} {
  // styles for medium screens and larger
  .form--inline {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    .input-field {
      margin: 10px 10px;
      flex: 0 1 20%;
    }
  }
}

.form--inline .input-field {
  display: block;
  width: 100%;
}

.select-wrapper {
  max-width: 450px;
  .input.select-dropdown {
    max-width: inherit;
  }
}

.form-type-entity-autocomplete {
  label {
    padding-right: 1em;
  }
}

.form-item {
  margin: 25px 0;
  position:relative;
  .form-required {
    &:after {
      content: " *";
      @extend .error-text-color;
    }
  }
}

.input-field.js-form-type-checkbox label {
  top: 0;
}

input[type=checkbox] {
  @extend .filled-in;
}

#edit-actions {
  .button {
    margin: 10px 10px 10px 0;
  }
  .button--danger {
    @extend .btn-flat;
    @extend .red-text, .lighten-2
  }
}

input.btn {
  margin:5px;
  @media #{$medium-and-down} {
    margin-bottom:1em;
  }
}

a.tabledrag-handle {
  .handle {
    width: 30px;
    height: 30px;
  }
}

.switch label {
  white-space: nowrap;
}

input-field.js-form-type-checkbox label {
  top: 0;
}

abbr[title] {
  border-bottom: none;
}

//form field handling 
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  width: inherit;
  max-width: 100%;
}

//checkbox fix to work with materialize
.js-form-type-checkbox {
  label.visually-hidden {
    position: relative!important;
    text-indent: -999999px;
    clip: inherit;
    overflow: visible;
    visibility: hidden;
    &:before, &:after {
      visibility: visible;
    }
  }
}

h4.label {
  font-size:1rem;
  font-weight:bold;
}

//instead of replacing the collapsible with materialize which can cause issues with drupal AJAX, style the default details
details.form-wrapper {
  @extend .collapsible;
  summary {
    @extend .collapsible-header;
    &:focus {
      outline:0;
    }
  }
  .details-wrapper {
    padding: 2rem;
  }
}

.entity-meta__header {
  @extend .shadow-box;
}
.entity-meta__last-saved h4, .entity-meta__author h4, .field--name-created h4 {
  font-size: 1rem;
  font-weight: bold;
  &:before {
    padding-right: 10px;
    @extend .fa-standard;
    vertical-align: baseline;
  }
}

.entity-meta__last-saved h4 {
  &:before {
    content: $fa-var-calendar;
  }
}

.container-inline .form-type-date div {
  display: block;
}

.form-type-date input.form-date {
  min-width: 175px;
}

.form-textarea-wrapper textarea {
  padding:10px;
}

.container-inline .form-item {
  padding-right: 10px;
  display:inline;
}

.form--inline, .dblog-filter-form {
  .form-actions {
    padding:0 10px;
  }
}

.entity-meta__author h4 {
  &:before {
    content: $fa-var-user;
  }
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow:none;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
}

.ui-state-hover, .ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

a#edit-cancel {
  @extend .btn-flat;
  @extend .warning-text-color;
}

.node-multiple-delete-confirm input.form-submit {
  @extend .error-color;
}

.confirm-form-wrapper {
  @extend .shadow-box;
}

//machine name display/edit
.field-suffix {
 small {
    padding:0 10px;
    span.machine-name-value {
      font-weight:bold;
    }
    span.admin-link {
      margin:0 10px;
      @extend .btn-flat
    }
  }
}
