.toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta:before,
.toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta:before {
  background-image: url("../images/contenta-logo.svg");
}

.no-svg .toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta:before,
.no-svg .toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta:before {
  background-image: url("../images/contenta-logo.png");
}
.toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta:active:before,
.toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta.is-active:before {
  background-image: url("../images/contenta-logo-dark.svg");
}

.no-svg .toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta:active:before,
.no-svg .toolbar-bar .toolbar-icon-menu.toolbar-icon-contenta.is-active:before {
  background-image: url("../images/contenta-logo-dark.png");
}
.toolbar nav.toolbar-bar {
  background-color: #2AABDD;
}
